
<h2>Добавление расхода ЖКХ</h2>

<form method="post" action="~/Expense/AddHCS">
    <p>
        Дата:
        <input type="date" name="date" required />
    </p>

    <p>
        Сумма:
        <input type="text" name="sum" required />
    </p>

    <p>
        Комментарий:
        <input type="text" name="comment" />
    </p>

    <input type="submit" value="Добавить" />
</form>