
<h2>AddHCS</h2>

<form method="post" action="~/Expense/AddHCS">
    <p>
        Дата:
        <input type="text" name="Date" />
    </p>

    <p>
        Сумма:
        <input type="text" name="Sum" />
    </p>

    <input type="submit" value="Добавить" />
</form>