
<h2>Добавление расхода ЖКХ</h2>

<form method="post" action="~/Expense/AddHCS">
    <p>
        Дата:
        <input type="date" value="@ViewBag.Expense.DatePayment.ToString("yyyy-MM-dd")" name="date" required />
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Expense.Sum" name="sum" required />
    </p>

    <p>
        Комментарий:
        <input type="text" value="@ViewBag.Expense.Comment" name="comment" />
    </p>

    <button type="submit" class="btn">Добавить</button>
</form>