
<h2>Добавление расхода ЖКХ</h2>

<form method="post" action="~/Expense/AddHCS">
    <p>
        Дата:
        <input type="text" name="Date" />
    </p>

    <p>
        Сумма:
        <input type="text" name="Sum" />
    </p>

    <p>
        Комментарий:
        <input type="text" name="Comment" />
    </p>

    <input type="submit" value="Добавить" />
</form>