@using LoanPortfolio.Db.Entities
<h2>Новый личный расход</h2>

<form method="post" action="~/Expense/AddPersonal">
    <p>
        Категория:
        <select name="categoryId" required>
            @{
                if (ViewBag.Categories != null)
                {
                    foreach (Category category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@{Write(category.Name);}</option>
                    }
                }
            }
        </select>
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Expense.Sum" name="sum" required />
    </p>

    <p>
        Дата:
        <input type="month" name="date" value="@Convert.ToDateTime(ViewBag.Expense.DatePayment.ToString()).ToString("yyyy-MM")" required />
    </p>

    <button type="submit" class="btn">Добавить</button>
</form>

<br />

<form method="post" action="~/Categories/Index">
    <button type="submit" class="btn">Управление категориями</button>
</form>