
<h2>ChangePersonal</h2>

<form method="post" action="~/Expense/ChangePersonal">
    <input type="hidden" value="@ViewBag.Expense.Id" name="expenseId" />

    <p>
        Категория:
        <input type="text" value="@ViewBag.Expense.ExpenseCategory" name="Category"/>
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Expense.Sum" name="Sum"/>
    </p>

    <input type="submit" value="Сохранить"/>
</form>