@using LoanPortfolio.Db.Entities
<h2>Изменение личных расходов</h2>

<form method="post" action="~/Expense/ChangePersonal">
    <input type="hidden" value="@ViewBag.Expense.Id" name="expenseId" />

    <p>
        Категория:
        <select name="categoryId" required>
            @{
                foreach (Category category in ViewBag.Category)
                {
                    <option value="@category.Id">@{Write(category.Name);}</option>
                }
            }
        </select>
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Expense.Sum" name="sum" required />
    </p>

    <button type="submit" class="btn">Сохранить</button>
</form>

<br />

<form method="post" action="~/Categories/Index">
    <button type="submit" class="btn">Добавить категорию</button>
</form>