
<h2>Изменение ЖКХ</h2>

<form method="post" action="~/Expense/ChangeHCS">
    <input type="hidden" value="@ViewBag.Expense.Id" name="expenseId" />

    <p>
        Дата:
        <input type="text" value="@ViewBag.Expense.DatePayment.ToString("yyyy-MM-dd")" name="date" required />
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Expense.Sum" name="sum" required />
    </p>
    
    <p>
        Комментарий:
        <input type="text" value="@ViewBag.Expense.Comment" name="comment" />
    </p>

    <input type="submit" value="Сохранить"/>
</form>