@using LoanPortfolio.Db.Entities

<br />

<p>
    <h4>Месяц: Декабрь</h4>
</p>

<h2>Финансовые задолженности</h2>

<table class="table">
    <tr>
        <th>
            Дата платежа
        </th>
        <th>
            Сумма платежа
        </th>
        <th>
            Наименование кредитной организации
        </th>
        <th>
            Адрес банка или банкомата
        </th>
        <th>

        </th>
    </tr>
    @{
        foreach (Loan loan in ViewBag.Loan)
        {
            <tr>
                <td>
                    @{Write(loan.DatePayment.ToShortDateString());}
                </td>
                <td>
                    @{Write(loan.AmountDie/loan.RepaymentPeriod);}
                </td>
                <td>
                    @{Write(loan.CreditInstitutionName);}
                </td>
                <td>
                    @{Write(loan.BankAddress);}
                </td>
                <td>
                    <a>Оплачено</a>
                </td>
            </tr>
        }
    }
</table>



<h2>ЖКХ</h2>
<a href="~/Expense/AddHCS">Добавить</a>

<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Сумма
        </th>
        <th>
            Комментарий
        </th>
        <th>
        </th>
    </tr>

    @{
        foreach (HCSExpense expense in ViewBag.HCS)
        {
            <tr>
                <td>
                    @{Write(expense.DatePayment.ToShortDateString());}
                </td>
                <td>
                    Сумма: @{Write(expense.Sum);}
                </td>
                <td>
                    @{Write(expense.Comment);}
                </td>
                <td>
                    <a href="~/Expense/ChangeHCS/@expense.Id">Редактировать</a>
                    <a href="~/Expense/Delete/@expense.Id">Удалить</a>
                </td>
            </tr>
        }
    }
</table>


<h2>Личные</h2>
<a href="~/Expense/AddPersonal">Добавить</a>

<table class="table">
    <tr>
        <th>
            Категория
        </th>
        <th>
            Сумма
        </th>
        <th>
        </th>
    </tr>

    @{
        foreach (PersonalExpense expense in ViewBag.Personal)
        {
            <tr>
                <td>
                    @{Write(expense.ExpenseCategory);}
                </td>
                <td>
                    Сумма: @{Write(expense.Sum);}
                </td>
                <td>
                    <a href="~/Expense/ChangePersonal/@expense.Id">Редактировать</a>
                    <a href="~/Expense/Delete/@expense.Id">Удалить</a>
                </td>
            </tr>
        }
    }
</table>