<br/>

<p>
    <input type="month" value="@Convert.ToDateTime(DateTime.Today.ToString()).ToString("yyyy-MM")" />
</p>

<p>
    Доход: @{ Write(ViewBag.Income); }
</p>

<p>
    Расход: @{ Write(ViewBag.Expense); }
</p>

<p>
    Остаток: @{ Write(ViewBag.Balance); }
</p>