@{ if (ViewBag.User != null)
    {
        <h1>@{Write("Добро пожаловать, " + ViewBag.User.FirstName + " " + ViewBag.User.LastName);}</h1>

        <form action="~/Home/Close" style="padding:20px">
            <button type="submit" class="btn">Выйти</button>
        </form>
    }
    else
    {
        <h1>@{Write("Войдите или зарегистрируйтесь");}</h1>
        <div style="display: flex;">
            <form action="~/Home/Auth" style="padding:20px">
                <button type="submit" class="btn">Авторизация</button>
            </form>

            <form action="~/Home/Register" style="padding:20px">
                <button type="submit" class="btn">Регистрация</button>
            </form>
        </div>
    }
}
