@{ if (ViewBag.User != null)
    {
        <h1>@{Write("Добро пожаловать, " + ViewBag.User.FirstName + " " + ViewBag.User.LastName);}</h1>

        <form action="~/Home/Close">
            <button type="submit" class="btn">Выйти</button>
        </form>
    }
    else
    {
        <h1>@{Write("Войдите или зарегистрируйтесь");}</h1>

        <form action="~/Home/Auth">
            <button type="submit" class="btn">Авторизация</button>
        </form>

        <form action="~/Home/Register">
            <button type="submit" class="btn">Регистрация</button>
        </form>
    }
}