<h2>Регистрация</h2>

<form method="post" action="~/Home/Register">
    <p>
        Имя:
        <input type="text" value="@ViewBag.User.FirstName" name="firstName" required />
    </p>

    <p>
        Фамилия:
        <input type="text" value="@ViewBag.User.LastName" name="lastName" required />
    </p>

    <p>
        Email:
        <input type="text" value="@ViewBag.User.Email" name="login" required />
    </p>

    <p>
        Пароль:
        <input type="password" value="@ViewBag.User.Password" name="password" required />
    </p>

    <button type="submit" class="btn">Регистрация</button>
</form>