<h2>Авторизация</h2>

<form method="post" action="~/Home/RestorePassword">
    <p>
        Email:
        <input type="text" name="login" required />
    </p>

    <button type="submit" class="btn">Выслать новый пароль</button>
</form>
