
<h2>Добавление дополнительного дохода</h2>

<form method="post" action="~/Income/AddPeriod">
    <p>
        Название:
        <input type="text" value="@ViewBag.Income.IncomeSource" name="source" required />
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Income.Sum" name="sum" required />
    </p>

    <p>
        Дата:
        <input type="month" name="date" value="@Convert.ToDateTime(ViewBag.Income.DateIncome.ToString()).ToString("yyyy-MM")" required />
    </p>

    <button type="submit" class="btn">Добавить</button>
</form>