
<h2>Добавление дополнительного дохода</h2>

<form method="post" action="~/Income/AddPeriod">
    <p>
        Название:
        <input type="text" name="Source" />
    </p>

    <p>
        Сумма:
        <input type="text" name="Sum" />
    </p>

    <input type="submit" value="Добавить" />
</form>