
<h2>AddRegular</h2>

<form method="post" action="~/Income/AddRegular">
    <p>
        Название:
        <input type="text" name="Source" />
    </p>

    <p>
        Сумма аванса:
        <input type="text" name="PrepaidExpanse" />
    </p>

    <p>
        Дата аванса:
        <input type="text" name="DatePrepaidExpanse" />
    </p>

    <p>
        Сумма окончаловки:
        <input type="text" name="Salary" />
    </p>

    <p>
        Дата окончаловки:
        <input type="text" name="DateSalary" />
    </p>

    <input type="submit" value="Добавить" />
</form>