
<h2>Изменение дполнительного дохода</h2>

<form method="post" action="~/Income/ChangePeriod">
    <input type="hidden" value="@ViewBag.Income.Id" name="incomeId"/>

    <p>
        Название:
        <input type="text" value="@ViewBag.Income.IncomeSource" name="Source"/>
    </p>

    <p>
        Сумма:
        <input type="text" value="@ViewBag.Income.Sum" name="Sum"/>
    </p>
    
    <input type="submit" value="Сохранить"/>
</form>