@using LoanPortfolio.Db.Entities
@using LoanPortfolio.Services

<br />

<p>
    <h4>Месяц: Декабрь</h4>
</p>

<h2>Основные</h2>
<a href="~/Income/AddRegular">Добавить</a>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Аванс
        </th>
        <th>
            Окончательный расчет
        </th>
        <th>
        </th>
    </tr>


    @{
        foreach (RegularIncome income in ViewBag.IncomesRegular)
        {
            <tr>
                <td>
                    @{Write(income.IncomeSource);}
                </td>
                <td>
                    <p>Сумма: @{Write(income.PrepaidExpanse);}</p>
                    <p>Дата: @{Write(income.DatePrepaidExpanse.ToShortDateString());}</p>
                </td>
                <td>
                    <p>Сумма: @{Write(income.Salary);}</p>
                    <p>Дата: @{Write(income.DateSalary.ToShortDateString());}</p>
                </td>
                <td>
                    <a href="~/Income/ChangeRegular/@income.Id">Редактировать</a>
                    <a href="~/Income/Delete/@income.Id">Удалить</a>
                </td>
            </tr>
        }
    }
</table>



<h2>Дополнительные</h2>
<a href="~/Income/AddPeriod">Добавить</a>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Сумма
        </th>
        <th>
        </th>
    </tr>

    @{
        foreach (PeriodicIncome income in ViewBag.IncomesPeriod)
        {
            <tr>
                <td>
                    @{Write(income.IncomeSource);}
                </td>
                <td>
                    Сумма: @{Write(income.Sum);}
                </td>
                <td>
                    <a href="~/Income/ChangePeriod/@income.Id">Редактировать</a>
                    <a href="~/Income/Delete/@income.Id">Удалить</a>
                </td>
            </tr>
        }
    }
</table>
