<h2>Новая категория</h2>

<form method="post" action="~/Categories/AddCategories">
    <p>
        Название:
        <input type="text" value="@ViewBag.Category.Name" name="name" required />
    </p>

    <button type="submit" class="btn">Добавить</button>
</form>