<h2>Новая категория</h2>

<form method="post" action="~/Categories/ChangeCategories">
    <input type="hidden" value="@ViewBag.Category.Id" name="expenseId" />

    <p>
        Название:
        <input type="text" value="@ViewBag.Category.Name" name="name" required />
    </p>

    <button type="submit" class="btn">Сохранить</button>
</form>