<h2>Новая категория</h2>

<form method="post" action="~/Categories/Index">
    <p>
        Название:
        <input type="text" name="name" required />
    </p>

    <input type="submit" value="Добавить" />
</form>