@using LoanPortfolio.Db.Entities

<div style="margin-bottom: 30px; margin-top: 30px;">
    <h2>Категории</h2>

    <table class="table" style="margin-bottom: 0">
        <tr>
            <th>
                Название
            </th>
            <th style="width: 15%">
            </th>
        </tr>

        @{
            foreach (Category category in ViewBag.Categories)
            {
                <tr>
                    <td>
                        @{Write(category.Name);}
                    </td>
                    <td>
                        <div style="display: flex;">
                            <form action="~/Categories/ChangeCategories/">
                                <input type="hidden" value="@category.Id" name="id" />
                                <button type="submit" class="btn">Редактировать</button>
                            </form>
                            <form action="~/Categories/Delete/">
                                <input type="hidden" value="@category.Id" name="id" />
                                <button type="submit" class="btn" style="margin-right: 15px">Удалить</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>

    <center>
        <form action="~/Categories/AddCategories">
            <button type="submit" class="btn">Добавить</button>
        </form>
    </center>
</div>