<h2>Новый кредит</h2>

<form method="post" action="~/CreditHistory/AddCredit">
    <p>
        Дата платежа:
        <input type="date" name="date" required />
    </p>

    <p>
        Сумма займа:
        <input type="text" name="loanSum" required />
    </p>
    
    <p>
        Сумма к погашению:
        <input type="text" name="amountDie" required />
    </p>

    <p>
        Срок погашения в месяцах:
        <input type="text" name="repaymentPeriod" required />
    </p>
    
    <p>
        Наименование кредитной организации:
        <input type="text" name="creditInstitutionName" required />
    </p>

    <p>
        Адрес банка или банкомата:
        <input type="text" name="bankAddress" required />
    </p>

    <input type="submit" value="Добавить" />
</form>