@using LoanPortfolio.Db.Entities
<div style="margin-bottom: 30px; margin-top: 30px;">
    <form action="~/CreditHistory/AddCredit">
        <div style="font-size: 2em; margin-bottom:10px">
            Финансовые задолженности
            <button type="submit" class="btn" style="margin-left: 5px;"><img src="~/Plus.png" style="height: 20px" /></button>
        </div>
    </form>

    <table class="table" style="margin-bottom: 0">
        <tr>
            <th>
                Дата платежа
            </th>
            <th>
                Сумма займа
            </th>
            <th>
                Сумма к погашению
            </th>
            <th>
                Срок погашения в месяцах
            </th>
            <th>
                Наименование кредитной организации
            </th>
            <th>
                Адрес банка или банкомата
            </th>
            <th style="width: 15%"></th>
        </tr>
        @{
            foreach (Loan loan in ViewBag.Loan)
            {
                <tr>
                    <td>
                        @{Write(loan.ClearanceDate.ToString("dd.MM.yyyy"));}
                    </td>
                    <td>
                        @{Write(loan.LoanSum);}
                    </td>
                    <td>
                        @{Write(loan.AmountDie);}
                    </td>
                    <td>
                        @{Write(loan.RepaymentPeriod);}
                    </td>
                    <td>
                        @{Write(loan.CreditInstitutionName);}
                    </td>
                    <td>
                        @{Write(loan.IsRepaid);}
                    </td>
                    <td>
                        <div style="display: flex;">
                            <form action="~/CreditHistory/ChangeCredit">
                                <input type="hidden" value="@loan.Id" name="id" />
                                <button type="submit" class="btn" style="margin-right: 15px"><img src="~/Edit.png" style="height: 25px" /></button>
                            </form>
                            <form method="post" action="~/CreditHistory/Index">
                                <input type="hidden" value="@loan.Id" name="id" />
                                <button type="submit" class="btn" style="margin-right: 15px">Погасить</button>
                            </form>

                            <form action="~/CreditHistory/Pays">
                                <input type="hidden" value="@loan.Id" name="id" />
                                <button type="submit" class="btn">Платежи</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }

    </table>
</div>